html, .content, Table, th, td {
    background: var(--color-surface);
    color: var(--color-solid);
  }
  
  .spacer
  {
    margin : 10px;
    padding: 20px;
  }
  
  .center
  {
    text-align: center;
    width: 50%;
    margin: auto;
  }

  .draggable {
    -webkit-app-region: drag;
    -webkit-user-select: none;
  }

  .noDrag
  {
    -webkit-app-region: no-drag;
  }

  .noLinkStyle
  {
    text-decoration: none;
    color : var(--color-solid);
  }

  .noLinkStyle:hover
  {
    text-decoration: underline;
    
    color : var(--color-surface);
  }